.bgIndex{
    background-image: url(/img/bg.jpg);
    background-size: cover;
    /* height: 100vh; */
}
.bgDetalle{
    background-image: url(/img/bgDetalles.jpg);
    background-size: cover;
    height: 100vh;
}
.bgAdmin{
    background-image: url(/img/bgAdmin.jpg);
    background-size: cover;
    height: 100vh;
}
.cardDetalle{
    border-radius: 3%;
}
.imgDetalle{
    border-radius: 3%;
}

.colorCard{
    background-color: transparent;
}